div.row
    div.col-md-12
        h1 Hello World!
        h1 Backcountry.com
        p Welcome,&nbsp;
            a(href="mailto:{{vm.user.email}}") {{vm.user.firstName}} {{vm.user.lastName}}.
            br
            span Your current facility is {{vm.user.facility.name}}.
